15 09 10 12
2                      
45.068465 -66.45477 10
45.068465 -66.45477 500
72                  
0                      
14000.	               
5
/tmpnwprd1/hyspt_fcst.11895/              
GFSF             
/tmpnwprd1/hyspt_fcst.11895/              
GFSF1p              
/tmpnwprd1/hyspt_fcst.11895/              
GFSF2p              
/tmpnwprd1/hyspt_fcst.11895/              
GFSF3p              
/tmpnwprd1/hyspt_fcst.11895/              
GFSF4p              
1                  
C137                
0.1667              
6.0                     
15 09 10 12 00
2           
45. -66.          
0.3 0.3          
90. 180.          
/tmpnwprd1/hyspt_fcst.11895/          
cdump          
2          
0 500          
15 09 10 12 00          
00 00 00 00 00          
00 24 00          
0.0 0.0          
0.1 0.1          
70.0 120.0          
/tmpnwprd1/hyspt_fcst.11895/          
cdump2          
2          
0 500          
15 09 10 12 0          
00 00 00 00 00          
00 3 00          
1                  
1.0 1.0 1.0          
.001 0.0 0.0 0.0 0.0          
0.0 3.2E+5 5.0E-5           
10960.          
0.0           
